@import "~bootstrap/scss/bootstrap";
@import "fonts";
@import "~slick-carousel/slick/slick";
@import "slick";
@import "slideout";
@import "~@fancyapps/fancybox/src/css/core.css";
@import "~nouislider/distribute/nouislider.css";
@import "range";
@import '~owl.carousel/dist/assets/owl.carousel.css';
@import '~@chenfengyuan/datepicker/dist/datepicker.css';
@import "~magnific-popup/dist/magnific-popup.css";
@import "~bootstrap-select/dist/css/bootstrap-select.css";

.header-mini {
  box-shadow: 0px 10px 20px 0px #00000014;
  position: relative;

  .navbar__logo {
    position: absolute;
    top: -20px;
    left: 0;
  }
}

.for-header-mini {
  padding-top: 20px;
}

.header-fixed {
  position: fixed;
  top: 0;
  background: white;
  z-index: 5;
  width: 100%;

  .navbar__logo-svg {
    width: 130px;
    height: 40px;
  }
}

.navbar {
  &__toggle {
    display: none;

    &-button {
      background: none;
      border: none;
      font-size: 28px;
      color: #01263d;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }

  &__logo {
    display: block;

    &-svg {
      height: 80px;
      width: 210px;
      transition: all 0.2s;
    }
  }

  .sub-menu {
    display: none;
    position: absolute;
    width: 260px;
    margin-top: 10px;
    border-top: 3px solid #f1171d;
    background: white;
    list-style: none;
    left: -50px;
    padding: 15px 20px;
    box-shadow: 0px 0px 10px 2px #eaeaea;

    &-item {
      display: inline-block;
      margin-right: 10px;
      text-transform: none;
      margin-bottom: 5px;

      &:nth-child(2n) {
        float: right;
      }

      &:hover a {
        color: #e8161c;
      }

      a {
        color: #444242;
        transition: color 0.5s;
      }
    }
  }

  .nav-link {
    font-family: 'Open Sans SemiBold', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    color: #002a45;
    transition: color 0.5s;
    position: relative;
    cursor: pointer;
    z-index: 5;

    &:hover {
      color: #ff0000;

      .sub-menu {
        display: block;
      }
    }
  }

  .navbar__phone {
    font-family: 'Open Sans Bold', sans-serif;
    color: #002a45;
  }

  &__callback {
    padding-left: 0;
    padding-right: 0;
  }

  .toggle_block {
    overflow: hidden;
    border-radius: 50px;
    width: 130px;

    .toggle_btn {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      overflow: hidden;
      border-radius: 50px;
      align-items: center;
      font-size: 14px;
      transition: .3s ease-out;
      transform: translateX(calc(100% - 36px));
      transform-origin: right center;
      background: #00355f;
      color: #fff;
      padding-right: 10px;

      &:hover {
        color: #fff;
        transform: translateX(0);
        text-decoration: none;
      }

      .icon-btn {
        display: inline-block;
        width: 36px;
        height: 36px;
        background-color: #00355f;
        border-radius: 50px;
        padding: 0 10px;
        position: relative;
      }
    }
  }
}

.banner {
  background-image: url('images/banner__background.png');
  background-position: center;
  padding: 140px 0;

  &__title {
    color: white;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    position: relative;
    line-height: 75px;

    &:before {
      content: '';
      position: absolute;
      width: 114px;
      height: 5px;
      background: #ff181f;
      left: -60px;
      top: 53%;
      transform: translateY(-50%);
    }
  }

  &__description {
    color: white;
    font-family: 'Open Sans SemiBold', sans-serif;
    font-size: 20px;
    max-width: 700px;
  }

  &__button {
    border: none;
    background: white;
    text-transform: uppercase;
    color: #113f6d;
    font-family: 'Open Sans Bold', sans-serif;
    padding: 12px 30px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.5s;
    margin-top: 15px;

    &:hover {
      background: #ff0000;
      color: white;
    }

    &:focus {
      outline: none;
    }
  }
}

.services {
  padding: 70px 0;

  &__title {
    text-transform: uppercase;
    color: #002a45;
    font-family: 'PT Serif Bold', sans-serif;
    position: relative;
    padding-left: 40px;
    font-size: 2.5rem;
    line-height: 1.2;

    &:before {
      content: '';
      width: 18px;
      height: 27px;
      position: absolute;
      left: 0;
      background-size: 100% 100%;
      background-image: url('images/arrow.png');
      top: 11px;
    }
  }

  &__background {
    height: 220px;
    border-top: 3px solid #ff0000;
    border-bottom: 7px solid white;
    box-shadow: 0px 4px 30px #e6e6e6;
    margin-bottom: 30px;
    background-size: 100%;
    overflow: hidden;

    &:hover .services__item {
      height: 90%;
      bottom: 0;
      overflow: visible;

      &-link {
        opacity: 1;
      }
    }
  }

  &__item {
    position: absolute;
    bottom: 50px;
    left: 50px;
    height: 45px;
    transition: .3s all;
    overflow: hidden;

    &-text {
      color: white;
      text-transform: uppercase;
      font-family: 'Open Sans Bold', sans-serif;
      font-size: 30px;
      margin-bottom: 0.5rem;
    }

    &-link {
      display: block;
      font-family: 'Open Sans', sans-serif;
      color: white;
      opacity: 0;
      transition: .3s all;

      &:hover {
        color: white;
      }
    }
  }

  &__storage {
    background-image: url('images/service-1.png');
  }

  &__trade {
    background-image: url('images/service-2.png');
  }

  &__delivery {
    background-image: url('images/service-3.png');
  }

  &__fuels {
    background-image: url('images/service-1.png');
  }
}

.about-company {
  background-image: url('images/lines-background.png');
  padding: 80px 0;

  &__title {
    text-transform: uppercase;
    color: #002a45;
    font-family: 'PT Serif Bold', sans-serif;
    position: relative;
    font-size: 2.5rem;
    line-height: 1.2;

    &:before {
      content: '';
      width: 18px;
      height: 27px;
      position: absolute;
      left: -40px;
      background-size: 100% 100%;
      background-image: url('images/arrow.png');
      top: 11px;
    }
  }

  &__subtitle {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 226px;
      height: 3px;
      background: #e0e0e0;
      left: -35px;
      bottom: -10px;
    }
  }

  &__description {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #4d4d4d;
  }

  &__button {
    background: #cc072e;
    padding: 6px 30px;
    text-transform: uppercase;
    border: none;
    color: white;
    border-radius: 30px;
    font-family: 'Open Sans SemiBold', sans-serif;
    margin-left: 31px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: 20px;

    &:before {
      content: '';
      position: absolute;
      left: -31px;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      border-left: 18px solid #cc072e;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.5s;
    }

    &:after {
      content: '';
      position: absolute;
      right: -31px;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      border-right: 18px solid #cc072e;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.5s;
    }

    &:hover {
      background: #ff0000;

      &:before {
        border-left: 18px solid #ff0000;
      }

      &:after {
        border-right: 18px solid #ff0000;
      }
    }
  }

  &__slider {
    border-top: 3px solid #ff0000;
    background-color: white;

    &-image {
      width: 100%;
    }

    &-text {
      padding: 30px 60px;
    }

    &-title {
      font-family: 'PT Serif Bold', sans-serif;
      font-size: 30px;
      color: #002a45;
    }

    &-description {
      font-size: 16px;
      color: #002a45;
      font-family: 'Open Sans', sans-serif;
    }
  }
}

.footer {
  background: #01263d;
  padding: 36px 0;

  &__nav-items {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0;
  }

  &__nav-item {
    flex: 1 25%;
  }

  &__nav-link {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Open Sans SemiBold', sans-serif;
  }

  &__button {
    border: none;
    background: white;
    text-transform: uppercase;
    color: #113f6d;
    font-family: 'Open Sans Bold', sans-serif;
    padding: 6px 14px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.5s;
    margin-bottom: 8px;
    display: block;

    &:hover {
      background: #ff0000;
      color: white;
      text-decoration: none;
    }
  }

  &__social-img {
    width: 17px;
    vertical-align: top;
  }

  &__social {
    background-color: #0076af;
    padding: 4px;
    transition: background-color 0.5s;
    display: inline-block;
    line-height: 0;
    margin: 0 6px;

    &:hover {
      background-color: #ff0000;
    }
  }

  &__socials {
    font-size: 0;
  }

  &__button-socials {
    display: inline-block;
    margin-right: 6px;
    vertical-align: top;
  }

  &__contacts {
    display: inline-block;

    &-link {
      display: block;
      color: white;
      transition: color 0.5s;

      &:hover {
        color: #ff0000;
      }
    }

    &-phone {
      margin-top: 2px;
      margin-bottom: 10px;
    }
  }
}

.underfooter {
  background: #012135;
  padding: 30px 0 10px 0;

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #1f5576;
  }

  &__link {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #1f5576;
    transition: color 0.5s;

    &:hover {
      color: white;
    }
  }
}

.contacts {

  &__description {
    font-size: 16px;
    color: #5d5d5d;
  }

  &__contact {
    color: black;
    font-family: 'Open Sans Bold';
    display: inline-block;
    padding-left: 11px;
    font-size: 14px;
    width: 80%;

    &-icon {
      display: inline-block;
      width: 36px;
      height: 36px;
      background-color: #00355f;
      border-radius: 50px;
      padding: 0 9px;
      position: relative;
    }

    &-address {
      vertical-align: top;
    }
  }

  &__callback {
    background: #cc072e;
    padding: 20px 40px;
    border-top: 4px solid white;
    box-shadow: 0 -4px 0 0 #002a45;

    &-title {
      color: white;
      text-transform: uppercase;
      font-family: 'PT Serif Bold';
      font-size: 24px;
    }

    &-input {
      border: none;
      border-radius: 20px;
      padding: 8px 20px;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    &-button {
      background-color: #002a45;
      border: none;
      border-radius: 20px;
      width: 100%;
      padding: 8px 20px;
      color: white;
      text-transform: uppercase;
      font-family: 'Open Sans ExtraBold';
      cursor: pointer;
      transition: .3s background-color;

      &:hover {
        background-color: #0177af;
      }
    }

    &-personal {
      color: #a9e3ff;
      font-size: 10px;

      a {
        color: #a9e3ff;
        text-decoration: underline;
      }
    }
  }

  &__success-text {
    color: white;
    margin-bottom: 0;
    margin-top: 10px;
    transition: opacity 0.5s;
  }
}

.account {
  &__menu {
    list-style: none;
    padding: 0;

    &-item {
      text-transform: uppercase;
      padding: 20px 40px;
      color: white;
      font-family: 'Open Sans Bold';
      background-color: #002a45;
      transition: .3s background-color;
      cursor: pointer;
      border-bottom: 1px solid #033556;

      &:hover {
        background-color: #00659b;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &__calculation {
    border-top: 4px solid #002a45;
    padding: 20px 60px;
    background: white;

    &-title {
      color: #002a45;
      text-align: center;
      font-size: 24px;
      font-family: 'Open Sans Bold';
      text-transform: uppercase;
    }

    &-item {
      margin-bottom: 20px;
    }

    &-text {
      text-align: right;
      color: #002a45;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 0;
      margin-top: 5px;
    }

    &-input {
      border: 1px solid #d0d0d0;
      border-radius: 20px;
      padding: 5px 20px;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    &-button {
      border: none;
      border-radius: 20px;
      padding: 5px;
      height: 100%;
      width: 100%;
      text-transform: uppercase;
      color: white;
      font-family: 'Open Sans ExtraBold';
      font-size: 12px;
      background-color: #cc072e;

      &-blue {
        background-color: #0076af;
      }
    }
  }

  &__info {
    color: #5d5d5d;
    margin-top: 20px;
  }

  &__switch-button {
    background: none;
    border: 1px solid #0076af;
    border-radius: 30px;
    font-family: 'Open Sans Bold';
    color: #0076af;
    text-transform: uppercase;
    font-size: 11px;
    padding: 6px 15px;
  }

  &__active {
    background-color: #00659b;
  }

  &__thead {
    background: white;

    td {
      border-top: none;
      color: #002a45;
      font-family: 'Open Sans Bold';
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  &__tbody {
    background: white;

    td {
      font-family: 'Open Sans SemiBold';
      font-size: 14px;
    }

    &-active {
      color: #007bff;
    }
  }

  &__dc-thead {
    background: #00659b;
    border-top: none;
    color: white;
    font-family: 'Open Sans Bold';
    font-size: 12px;
    text-transform: uppercase;
  }

  &__dc-tbody {
    background: white;
  }

  &__balance {
    background: white;
    padding: 10px;
    font-size: 16px;
    font-family: 'Open Sans SemiBold';
  }
}

.lines-background {
  background-image: url('images/lines-background.png')
}

.main-title {
  text-transform: uppercase;
  color: #002a45;
  font-family: 'PT Serif Bold', sans-serif;
  position: relative;
  padding-left: 40px;
  font-size: 2.5rem;
  line-height: 1.2;

  &:before {
    content: '';
    width: 18px;
    height: 27px;
    position: absolute;
    left: 0;
    background-size: 100% 100%;
    background-image: url('images/arrow.png');
    top: 11px;
  }
}

.documentation {
  &__text {
    color: #5d5d5d;
  }

  &__slogan {
    font-size: 22px;
    color: #e0e0e0;
    text-transform: uppercase;
    font-family: 'Open Sans Light';
    padding-left: 20px;
    padding-bottom: 10px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: -20px;
      background: #e0e0e0;
      height: 3px;
      width: 50%;
    }
  }

  &__link {
    color: #0076af;
    text-decoration: underline;
    position: relative;
    padding-left: 40px;
    display: block;
    width: 100%;
    padding-bottom: 20px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 23px;
      height: 27px;
      background-image: url('images/file-icon.png');
    }

    &:hover {
      color: #002a45;
      text-decoration: none;

      &::before {
        background-image: url('images/file-icon-hover.png');
      }
    }
  }
}

.passport {
  padding: 40px 0;

  &__title {
    font-family: 'Open Sans Bold';
    font-size: 28px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;

    &::before {
      content: '';
      height: 3px;
      position: absolute;
      bottom: 0;
      left: -30px;
      background: #ff181f;
      width: 100px;
    }
  }
}

.auto {
  padding-bottom: 50px;

  &__image {
    width: 100%;
  }

  &__characteristics {
    padding-left: 25px;
  }

  &__subtitle {
    font-size: 20px;
    font-family: 'Open Sans Bold';
    margin-left: 20px;
  }

  &__name {
    font-size: 18px;
    font-family: 'Open Sans Bold';
  }

  &__option {
    font-size: 18px;
    color: #c8c8c8;
    font-family: 'Open Sans Bold';
    margin: 0;
  }

  &__option-text {
    color: #002a45;
    font-size: 30px;
    font-family: 'Open Sans ExtraBold';
  }

  &__set-name {
    font-size: 20px;
    font-family: 'Open Sans Bold';
    padding-left: 25px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      background: #ff0000;
      left: 0;
      top: 9px;
    }
  }

  &__set-item {
    font-family: 'Open Sans SemiBold';
    color: #6a6a6a;
    font-size: 16px;

    &:nth-child(odd) {
      padding-left: 40px;
    }
  }
}

.autos {
  padding: 50px 15px;

  &__title {
    font-family: 'Open Sans Bold';
    font-size: 28px;
    text-transform: uppercase;
    color: #002a45;

    &::before {
      content: '';
      position: absolute;
      bottom: 10px;
      left: -50px;
      background: #ff181f;
      height: 3px;
      width: 100px;
    }
  }

  &__auto {
    margin-top: 30px;

    &-image {
      width: 100%;
    }

    &-name {
      font-family: 'PT Serif Bold';
      font-size: 24px;
      color: #002a45;
    }

    &-description {
      font-family: 'Open Sans';
      color: #0c3152;
      font-size: 15px;
      padding-right: 15px;
    }

    &-button {
      border: none;
      border-radius: 20px;
      padding: 10px 40px;
      text-transform: uppercase;
      color: white;
      font-family: 'Open Sans';
      font-size: 12px;
      background-color: #002a45;
      transition: .3s background-color;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #0174ac;
      }
    }

    &-case {
      border-top: 3px solid #ff0000;
    }

    &-col-image {
      padding: 0;
    }

    &-texts {
      padding-left: 25px;
      padding-top: 10px;
    }
  }

  &__block {
    margin: 10px;
    background: white;
    box-shadow: 0 3px 10px 3px #cecece;

    .autos__auto-name {
      font-size: 22px;
      padding: 10px;
      margin-left: 10px;
    }
  }
}

.calc {
  background: white;
  border-top: 3px solid #002a45;
  box-shadow: 0px 0px 12px 7px #00000017;
  padding: 30px 40px;
  position: absolute;
  width: 100%;
  margin-top: 60px;

  &__title {
    font-family: 'Open Sans Bold';
    font-size: 28px;
    color: #002a45;
    text-transform: uppercase;
    max-width: 560px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 41px;
      left: -40px;
      background: #ff181f;
      height: 3px;
      width: 100px;
    }
  }

  &__select {
    position: relative;
    margin-bottom: 20px;

    select {
      border: 1px solid #d0d0d0;
      cursor: pointer;
      border-radius: 20px;
      width: 100%;
      padding: 8px 15px;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';

      &:focus {
        outline: none;
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 16px;
      background-image: url('svg/arrow-down.svg');
      background-size: 100%;
      right: 20px;
      top: 14px;
      pointer-events: none;
    }
  }

  &__total-text {
    font-family: 'Open Sans Bold';
    font-size: 22px;
    margin-bottom: 0;
  }

  &__total {
    font-family: 'Open Sans SemiBold';
    font-size: 48px;
    color: #f41e2a;
    margin-bottom: 0;
  }

  &__total-liter {
    color: #acacac;
    font-size: 16px;
    font-family: 'Open Sans';
  }

  &__input {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #d0d0d0;
    border-radius: 20px;
    width: 100%;
    padding: 8px 25px;
    font-family: 'Open Sans';

    &:focus {
      outline: none;
    }
  }

  &__box::before {
    content: 'литров';
    position: absolute;
    right: 40px;
    top: 8px;
    font-family: 'Open Sans';
    z-index: 1;
  }

  &__range {
    width: 100%;
    margin-top: 18px;

    &:focus {
      outline: none;
    }
  }

  &__hr {
    border-width: 3px;
    border-color: #cc072e;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  &__callback {
    background: #cc072e;
    position: absolute;
    padding: 30px;
    right: 40px;

    &-title {
      color: white;
      font-family: 'Open Sans SemiBold';
      font-size: 20px;
      text-transform: uppercase;
    }

    &-input {
      border: 1px solid #d0d0d0;
      border-radius: 20px;
      width: 100%;
      padding: 8px 25px;
      font-family: 'Open Sans';

      &:focus {
        outline: none;
      }
    }

    &-button {
      border: none;
      border-radius: 20px;
      padding: 10px 40px;
      text-transform: uppercase;
      color: white;
      font-family: 'Open Sans';
      font-size: 14px;
      background-color: #002a45;
      transition: .3s background-color;
      cursor: pointer;
      width: 100%;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #0174ac;
      }
    }

    &-form {
      margin-bottom: 20px;
    }

    &-text {
      color: #fc7b94;
      font-family: 'Open Sans';
      font-size: 12px;
      margin-bottom: 0;
    }
  }
}


.trade {
  &__pricelist {
    margin-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;

    &-title {
      text-align: center;
      background: #01263d;
      border-top: 3px solid #cc072e;
      color: white;
      font-family: 'Open Sans SemiBold';
      text-transform: uppercase;
      font-size: 20px;
      line-height: 40px;
    }

    &-item {
      background: white;
      font-family: 'Open Sans';
      text-transform: uppercase;
      font-size: 16px;
      line-height: 40px;
    }

    &-price {
      text-align: right;
    }
  }
}

.delivery {
  min-height: 600px;
}

.empty-block {
  min-height: 400px;
}

.owl-nav {
  position: absolute;
  top: 42%;
  transform: translateY(-50%);
  width: 100%;

  span {
    font-size: 70px;
    line-height: 0;
  }
}

.autos__auto {
  .owl-nav {
    top: 47%;
  }

  .owl-next {
    right: 10px;
  }
}

.owl-next {
  position: absolute;
  right: -20px;

  &:focus {
    outline: none;
  }
}

.owl-prev {
  position: absolute;
  left: -20px;

  &:focus {
    outline: none;
  }
}

/* adaptive */

@media screen and (max-width: 1200px) {
  .services__item {
    height: 195px;
  }

  .navbar__callback {
    display: none;
  }

  .footer {
    &__nav-link {
      font-size: 11px;
    }

    &__contacts {
      display: none;
    }
  }

  .account {
    &__menu-item {
      padding: 20px 30px;
    }

    &__calculation {
      padding: 20px 40px;

      &-title {
        font-size: 20px;
      }
    }
  }

  .auto__option {
    font-size: 15px;
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    &__toggle {
      display: block;
    }

    &-nav {
      display: none;
    }
  }

  .banner {
    &__title {
      font-size: 40px;
      line-height: 65px;
    }

    &__description {
      font-size: 16px;
    }
  }

  .services__item {
    height: 145px;
  }

  .footer {
    &__nav-link {
      font-size: 12px;
    }

    &__contacts {
      display: inline-block;
    }

    &__logo {
      width: 100%;
    }
  }

  .auto__characteristics {
    margin-top: 20px;
  }

  .autos__auto-texts {
    padding-left: 40px;
    padding-bottom: 10px;
  }

  .calc__callback {
    right: 0;
  }

  .empty-block {
    min-height: 600px;
  }

  .calc__callback-input {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .banner__title {
    font-size: 33px;
  }

  .services__item-text {
    font-size: 21px;
  }

  .about-company__title, .services__title {
    font-size: 2rem;
  }

  .about-company__subtitle {
    font-size: 18px;
  }

  .about-company__description {
    font-size: 16px;
  }

  .contacts__contact {
    width: 80%;
    margin-top: 7px;
    position: absolute;
  }

  .contacts__contact-item {
    margin-bottom: 10px;
  }

  .main-title {
    font-size: 2rem;

    &:before {
      top: 7px;
    }
  }

  .empty-block {
    min-height: 800px;
  }

  .owl-nav {
    display: none;
  }

  .autos__block .autos__auto-name {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .banner {
    padding: 80px 0;

    &__title {
      font-size: 28px;
      line-height: 35px;

      &:before {
        display: none;
      }
    }

    &__button {
      font-size: 14px;
    }
  }

  .about-company__button {
    width: 80%;
    font-size: 14px;
  }

  .footer__nav-items {
    margin-top: 20px;
  }

  .footer__nav-item {
    display: block;
    flex: 50%;
    text-align: center;
  }

  .main-title {
    font-size: 1.5rem;
    &:before {
      top: 0;
    }
  }

  .auto__set-item:nth-child(odd) {
    padding-left: 15px;
  }

  .account__calculation-text {
    text-align: center;
  }

  .calc {
    position: inherit;
    padding: 0 15px;
    margin-bottom: 30px;
  }

  .empty-block {
    display: none;
  }

  .calc__callback {
    position: inherit;
  }

  .calc__title {
    font-size: 24px;
    margin-top: 20px;
  }

  .calc__range {
    margin-bottom: 40px;
  }

  .calc__title::before {
    display: none;
  }

  .about-company__slider-text {
    padding-top: 50px;
  }
}

/* bootstrap */

.breadcrumb {
  background-color: unset;
  padding-left: 0;
  margin-top: 30px;

  &-item {
    a {
      color: #bbbaba;
      font-size: 12px;
      font-family: 'Open Sans';
      vertical-align: top;
    }

    &.active {
      color: #999898;
      font-size: 12px;
      font-family: 'Open Sans';
    }

    + .breadcrumb-item::before {
      content: '▶';
      font-size: 10px;
      color: #999898;
    }
  }
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Popup */

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}

/* bootstrap select */

.bootstrap-select .dropdown-toggle:focus {
  outline: none!important;
}

.btn-light {
  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 20px;
  color: black!important;
  padding: 8px 15px;

  &:focus {
    outline: none!important;
  }
}
